<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Partner</title>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fontawesome-free-6.5.2-web/css/all.min.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="topnav" id="body-color">
        <a href="/index"><img width=200px src="/static/Logo2.png"></a>
        <a href="/about"><i class="fas fa-info-circle" id="about-logo"></i>About and FAQ</a>
        <a href="/" id = "nav-logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
    <div class="container mx-auto px-4 py-6 max-w-lg">
        <h1 class="text-3xl font-bold mb-4">More Info</h1>
        <div class="w-full bg-white shadow-md rounded px-85 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Category:</label>
                <input disabled type="text" id="Category" name="Category" value="{{ partner['Category'] }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name:</label>
                <input disabled type="text" id="name" name="name" value="{{ partner['name'] }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="resources">Description:</label>
                <textarea disabled id="description" name="description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{ partner['description'] }}</textarea>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="contact">Size:</label>
                <input disabled type="text" id="size" name="size" value="{{ partner['size'] }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="contact">Address:</label>
                <input disabled type="text" id="address" name="address" value="{{ partner['address'] }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="contact">Phone:</label>
                <input  disabled type="text" id="phone" name="phone" value="{{ partner['phone'] }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="contact">Website:</label>
                <input disabled type="text" id="website" name="website" value="{{ partner['website'] }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="flex items-center justify-between">
                <a href="{{ url_for('index') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Return to Database</a>
            </div>
        </div>
    </div>
</body>
</html>